@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&subset=latin-ext');

//vars
$font: #333;
$main-color: #896D61;
$main-color-darker: #6F5546;
$grey: #DDD;
$bar-height: 50px;

//global
* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    color: $font;
    line-height: 1.7;
    overflow-x: hidden;
    text-align: justify;
}

a {
    text-decoration: none;
    color: $font;
}

img {
    max-width: 100%;
    height: auto;
}

.layer {
    background: rgba(255,255,255,0.65);
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
}

.desktop {
    display: none !important;
}

.columns {
    margin-left: 0;
    margin-right: 0;
}

//header
.menu {
    height: $bar-height;
    box-shadow: 0 0 10px $grey;
    background: white;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .burger {
        height: $bar-height;
        width: $bar-height;
        background: $main-color;
        display: inline-block;
        float: right;
        padding: 10px;
        position: relative;
        text-align: right;
        border-radius: 0 0 0 20px;

        .line {
            width: 30px;
            height: 2px;
            border-radius: 3px;
            background: rgba(255,255,255,0.65);
            margin: 6px 0 6px auto;
            position: relative;
            top: 0;
            transition: all .25s;

            &:nth-of-type(2) {
                width: 15px;
            }

            &:nth-of-type(3) {
                width: 20px;
            }
        }

        &.active {
            .line {
                background: rgba(255,255,255,1);

                &:nth-of-type(1) {
                    transform: rotateZ(45deg);
                    top: 8px;
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    transform: rotateZ(-45deg);
                    width: 30px;
                    top: -8px;
                }
            }
        }
    }

    .menu-lists {
        position: absolute;
        top: $bar-height;
        right: 0;
        width: 100%;
        height: calc(100vh - 50px);
        box-shadow: inset 0 0 10px $grey;
        background: #fff;
        z-index: 999;
        padding: 30px 43px;
        text-align: right;
        transition: all .25s;
        transform: translateX(100%);

        ul {
            list-style-type: none;

            li {
                position: relative;
                transition: all .3s;

                a {
                    display: block;
                    padding: 7px;
                }

                &:after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: transparent;
                    border-radius: 10px;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: -15px;
                    transform: translateY(-50%);
                    transition: all .3s;
                }

                &.active {
                    a {
                        color: $main-color;
                    }

                    &:after {
                        background: $main-color;
                    }
                }
            }
        }

        &.active {
            transform: translateX(0);
        }
    }
}

header {
    height: 100vh;
    background-image: url(images/header3.jpg);
    background-size: cover;
    background-position: right center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: $bar-height;

    .logo {
        display: block;
        margin: 0 auto;
        position: relative;
        align-self: flex-end;
        padding: 0 15px;
        z-index: 9;

        img {
            display: block;
            height: auto;
            width: auto;
        }
    }

    .center {
        z-index: 9;
        position: relative;
        width: 100%;
        padding: 30px 30px 15px;
        text-align: center;
        align-self: flex-end;
        background: white;
        border-radius: 60px 60px 0 0;
        max-width: 1100px;
        margin: 0 auto;
    }
}

.button {
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 12px 15px;
    background: $main-color;
    border-radius: 50px;
    color: #fff;
    font: normal 12px Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    i {
        position: relative;
        top: 0;
        animation: arrowBump .55s ease-in-out infinite alternate both;
    }
}

section {
    .wrapper {
        padding: 20px;

        img {
            height: 100%;
            margin-top: 20px;
            width: 100%;
        }
    }

    h2 {
        width: 100%;
    }

    .icon {
        font-size: 50px;
        text-align: center;

        i {
            color: $main-color;
        }
    }
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact {
    background: $main-color url(images/footer.jpg) center/cover no-repeat;
    color: #fff;
    text-align: right;
    position: relative;
    padding-bottom: 30px;

    .wrapper {
        z-index: 99;
        position: relative;
        font-weight: 300
    }

    a {
        color: #fff;
    }

    .layer {
        height: 100%;
        top:0;
        background: $main-color;
        opacity: 0.8;
    }
}

@keyframes arrowBump {
    0% {
        top: -3px;
    }

    100% {
        top: 3px;
    }
}

@media(min-width: 992px) {
    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    .menu {
        .burger {
            display: none;
        }

        .menu-lists {
            box-shadow: none;
            transform: none;
            width: 100%;
            top: 0;
            background: transparent;
            padding: 0;
            height: $bar-height;

            ul {
                padding: 0;
                margin: 0;
                display: inline-block;

                li {
                    display: inline-block;

                    a {
                        padding: 12px 10px 11px;
                    }

                    &::after {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, 160%);
                        width: 7px;
                        height: 7px;
                    }
                }
            }
        }
    }

    header {
        .center {
            border-radius: 500px 500px 0 0 ;
        }
    }
    .wrapper {
        max-width: 1100px;
        margin: 0 auto;
    }

    .column-3 {
        width: 33.33%;
        padding: 40px;
    }
}