@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&subset=latin-ext");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #333;
  line-height: 1.7;
  overflow-x: hidden;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.layer {
  background: rgba(255, 255, 255, 0.65);
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
}

.desktop {
  display: none !important;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

.social-media {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 5px;
  top: 2px;
}

.social-media li {
  display: inline-block;
}

.social-media li a {
  display: block;
  padding: 10px;
}

.social-media i {
  color: #896D61;
}

.menu {
  height: 50px;
  -webkit-box-shadow: 0 0 10px #DDD;
          box-shadow: 0 0 10px #DDD;
  background: white;
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.menu .burger {
  height: 50px;
  width: 50px;
  background: #896D61;
  float: right;
  padding: 10px;
  position: relative;
  text-align: right;
  border-radius: 0 0 0 20px;
}

.menu .burger .line {
  width: 30px;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.65);
  margin: 6px 0 6px auto;
  position: relative;
  top: 0;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.menu .burger .line:nth-of-type(2) {
  width: 15px;
}

.menu .burger .line:nth-of-type(3) {
  width: 20px;
}

.menu .burger.active .line {
  background: white;
}

.menu .burger.active .line:nth-of-type(1) {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  top: 8px;
}

.menu .burger.active .line:nth-of-type(2) {
  opacity: 0;
}

.menu .burger.active .line:nth-of-type(3) {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  width: 30px;
  top: -8px;
}

.menu .menu-lists {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  height: calc(100vh - 50px);
  -webkit-box-shadow: inset 0 0 10px #DDD;
          box-shadow: inset 0 0 10px #DDD;
  background: #ffffff;
  z-index: 999;
  padding: 30px 43px;
  text-align: right;
  -webkit-transition: all .25s;
  transition: all .25s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu .menu-lists ul {
  list-style-type: none;
}

.menu .menu-lists ul li {
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu .menu-lists ul li a {
  display: block;
  padding: 7px;
}

.menu .menu-lists ul li:after {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu .menu-lists ul li.active a {
  color: #896D61;
}

.menu .menu-lists ul li.active:after {
  background: #896D61;
}

.menu .menu-lists.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header {
  height: 100vh;
  background-image: url(images/header3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: right center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

header h1, header h2 {
  font-weight: 400;
}

header .logo {
  display: block;
  margin: 0 auto;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 15px;
  z-index: 9;
  width: 100%;
  text-align: center;
}

header .logo img {
  display: block;
  height: auto;
  width: auto;
  margin: 0 auto;
}

header .center {
  z-index: 9;
  position: relative;
  width: 100%;
  padding: 30px 25px 15px;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: white;
  border-radius: 60px 60px 0 0;
  max-width: 1100px;
  margin: 0 auto;
}

.button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  padding: 12px 15px;
  background: #896D61;
  border-radius: 50px;
  color: #ffffff;
  font: normal 12px Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
}

.button i {
  position: relative;
  top: 0;
  -webkit-animation: arrowBump .55s ease-in-out infinite alternate both;
          animation: arrowBump .55s ease-in-out infinite alternate both;
}

.button:before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 200%;
  background: #ffffff;
  opacity: .1;
  top: -50%;
  left: 0;
  -webkit-transform: skew(20deg) translateX(-101%);
          transform: skew(20deg) translateX(-101%);
  z-index: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.button:hover::before {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: skew(20deg) translateX(500%);
          transform: skew(20deg) translateX(500%);
}

section h2 {
  width: 100%;
}

section .icon {
  font-size: 50px;
  text-align: center;
}

section .icon i {
  color: #896D61;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

section .icon:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.wrapper {
  padding: 20px;
}

.wrapper img {
  height: 100%;
  margin-top: 20px;
  width: 100%;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-2 {
  margin: 20px 0;
}

.square {
  width: 100%;
  max-width: 400px;
  height: auto;
  overflow: hidden;
}

.square img {
  display: block;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact {
  background: #896D61 url(images/footer.jpg) center/cover no-repeat;
  color: #ffffff;
  text-align: right;
  position: relative;
  padding-bottom: 30px;
}

#contact .wrapper {
  z-index: 99;
  position: relative;
  font-weight: 300;
}

#contact a {
  color: #ffffff;
}

#contact .layer {
  height: 100%;
  top: 0;
  background: #896D61;
  opacity: 0.8;
}

#steps .wrapper img {
  margin-top: 0;
}

.steps-list {
  margin-top: 40px;
}

.step {
  position: relative;
  max-width: 700px;
  margin: 20px auto;
}

.step .number {
  position: absolute;
  font-size: 80px;
  font-weight: 900;
  color: #896D61;
  opacity: .5;
  top: 0;
  line-height: 1;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.step h3 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 18px;
  padding-left: 30px;
  border-bottom: 1px dashed #896D61;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.step:nth-child(even) .number {
  right: 0;
}

.step:nth-child(even) h3 {
  text-align: right;
  padding-left: 0;
  padding-right: 30px;
  margin: 0 0 0 auto;
}

.step:nth-child(even):hover .number {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.3;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.step:nth-child(odd):hover .number {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0.3;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.plain-text {
  margin: 40px 0 60px 0;
}

.furniture {
  margin: 50px auto;
}

.furniture > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  margin: 0;
}

.furniture .content {
  z-index: 9;
  position: relative;
  padding: 30px;
  width: 60%;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 0 5px #896D61;
}

.furniture h3 {
  width: auto;
  border-bottom: none;
  padding: 0;
  margin-top: auto;
  padding: 1px;
}

.furniture .blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.furniture .blur img {
  margin: 0;
  opacity: 1;
  filter: blur(2px);
  -webkit-filter: blur(5px);
  top: -5px;
  left: -5px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.furniture .blur:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
}

.furniture:nth-child(even) .content {
  margin: 0 0 0 auto;
  text-align: right;
}

.furniture:nth-child(even) .content h3 {
  text-align: right;
  padding: 0;
}

.furniture:nth-child(even) .blur {
  right: 0;
  left: auto;
}

.furniture:nth-child(even) .blur img {
  right: -5px;
  left: auto;
}

.furniture:nth-of-type(1) {
  overflow: hidden;
}

@-webkit-keyframes arrowBump {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@keyframes arrowBump {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@media (min-width: 992px) {
  .mobile {
    display: none !important;
  }
  .desktop {
    display: block !important;
  }
  .menu .burger {
    display: none;
  }
  .menu .menu-lists {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 0;
    background: transparent;
    padding: 0;
    height: 50px;
    display: inline-block;
  }
  .menu .menu-lists ul {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .menu .menu-lists ul li {
    display: inline-block;
  }
  .menu .menu-lists ul li a {
    padding: 12px 10px 11px;
  }
  .menu .menu-lists ul li::after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 160%);
            transform: translate(-50%, 160%);
    width: 7px;
    height: 7px;
  }
  header .center {
    border-radius: 500px 500px 0 0;
  }
  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  .column-3 {
    width: 33.33%;
    padding: 40px;
  }
  .column-2 {
    width: 50%;
    padding: 40px;
  }
  .square {
    width: 33%;
  }
  .subpage header {
    height: 70vh;
  }
  .step:nth-child(even):hover .number {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0.6;
  }
  .step:nth-child(odd):hover .number {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0.6;
  }
  .furniture .content, .furniture .blur {
    width: 40%;
  }
  #sawmill .wrapper, #electricity .wrapper {
    padding: 50px 100px 100px;
  }
  #sawmill .columns, #electricity .columns {
    margin-top: 50px;
  }
  #renovations .columns {
    margin: 50px 0;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#loader .block {
  width: 100%;
  text-align: center;
  background: url(./images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  background-position: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #896D61;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */