@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&subset=latin-ext');
//vars
$font: #333;
$main-color: #896D61;
$main-color-darker: #6F5546;
$grey: #DDD;
$white: #ffffff;
$bar-height: 50px;

//global
* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    color: $font;
    line-height: 1.7;
    overflow-x: hidden;
    text-align: justify;
}

a {
    text-decoration: none;
    color: $font;
}

img {
    max-width: 100%;
    height: auto;
}

.layer {
    background: rgba(255,255,255,0.65);
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
}

.desktop {
    display: none !important;
}

.columns {
    margin-left: 0;
    margin-right: 0;
}

//header
.menu {
    height: $bar-height;
    box-shadow: 0 0 10px $grey;
    background: white;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .burger {
        height: $bar-height;
        width: $bar-height;
        background: $main-color;
        //display: inline-block;
        float: right;
        padding: 10px;
        position: relative;
        text-align: right;
        border-radius: 0 0 0 20px;

        .line {
            width: 30px;
            height: 2px;
            border-radius: 3px;
            background: rgba(255,255,255,0.65);
            margin: 6px 0 6px auto;
            position: relative;
            top: 0;
            transition: all .25s;

            &:nth-of-type(2) {
                width: 15px;
            }

            &:nth-of-type(3) {
                width: 20px;
            }
        }

        &.active {
            .line {
                background: rgba(255,255,255,1);

                &:nth-of-type(1) {
                    transform: rotateZ(45deg);
                    top: 8px;
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    transform: rotateZ(-45deg);
                    width: 30px;
                    top: -8px;
                }
            }
        }
    }

    .menu-lists {
        position: absolute;
        top: $bar-height;
        right: 0;
        width: 100%;
        height: calc(100vh - 50px);
        box-shadow: inset 0 0 10px $grey;
        background: $white;
        z-index: 999;
        padding: 30px 43px;
        text-align: right;
        transition: all .25s;
        transform: translateX(100%);

        ul {
            list-style-type: none;

            li {
                position: relative;
                transition: all .3s;

                a {
                    display: block;
                    padding: 7px;
                }

                &:after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: transparent;
                    border-radius: 10px;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: -15px;
                    transform: translateY(-50%);
                    transition: all .3s;
                }

                &.active {
                    a {
                        color: $main-color;
                    }

                    &:after {
                        background: $main-color;
                    }
                }
            }
        }

        &.active {
            transform: translateX(0);
        }
    }
}

header {
    height: 100vh;
    background-image: url(images/header3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: $bar-height;

    h1,h2 {
        font-weight: 400;
    }

    .logo {
        display: block;
        margin: 0 auto;
        position: relative;
        align-self: flex-end;
        padding: 0 15px;
        z-index: 9;
        width: 100%;
        text-align: center;

        img {
            display: block;
            height: auto;
            width: auto;
            margin: 0 auto;
        }
    }

    .center {
        z-index: 9;
        position: relative;
        width: 100%;
        padding: 30px 25px 15px;
        text-align: center;
        align-self: flex-end;
        background: white;
        border-radius: 60px 60px 0 0;
        max-width: 1100px;
        margin: 0 auto;
    }
}

.button {
    display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 12px 15px;
    background: $main-color;
    border-radius: 50px;
    color: $white;
    font: normal 12px Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;

    i {
        position: relative;
        top: 0;
        animation: arrowBump .55s ease-in-out infinite alternate both;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 200%;
        background: $white;
        opacity: .1;
        top: -50%;
        left: 0;
        transform: skew(20deg) translateX(-101%);
        z-index: 0;
        transition: transform .2s;
    }

    &:hover {
        &::before {
            transition: transform .2s;
            transform: skew(20deg) translateX(500%);
        }
    }
}

section {

    h2 {
        width: 100%;
    }

    .icon {
        font-size: 50px;
        text-align: center;

        i {
            color: $main-color;
            transform: scale(1);
            transition: transform .3s;
        }

        &:hover {
            i {
                transform: scale(1.2);
                transition: transform .3s;
            }
        }
    }
}

.wrapper {
        padding: 20px;

        img {
            height: 100%;
            margin-top: 20px;
            width: 100%;
        }
    }

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-2 {
    margin: 20px 0;
}

#contact {
    background: $main-color url(images/footer.jpg) center/cover no-repeat;
    color: $white;
    text-align: right;
    position: relative;
    padding-bottom: 30px;

    .wrapper {
        z-index: 99;
        position: relative;
        font-weight: 300
    }

    a {
        color: $white;
    }

    .layer {
        height: 100%;
        top:0;
        background: $main-color;
        opacity: 0.8;
    }
}

//podstrona krok po kroku
#steps {
    .wrapper {
        img {
            margin-top: 0;
        }
    }
}

.steps-list {
    margin-top: 40px;
}

.step {
    position: relative;
    max-width: 700px;
    margin: 20px auto;
    

    .number {
        position: absolute;
        font-size: 80px;
        font-weight: 900;
        color: $main-color;
        opacity: .5;
        top: 0;
        line-height: 1;
        transition: transform .4s;
    }

    h3 {
        font-size: 25px;
        font-weight: 400;
        margin-top: 0px;
        padding-top: 18px;
        padding-left: 30px;
        border-bottom: 1px dashed $main-color;
        width: fit-content;
    }

    &:nth-child(even) {
        .number {
            right: 0;
        }

        h3 {
            text-align: right;
            padding-left: 0;
            padding-right: 30px;
            margin: 0 0 0 auto;
        }

        &:hover {
            .number {
                transform: translateX(-50%);
                opacity: 0.3;
                transition: transform .4s;
            }
        }
    }

    &:nth-child(odd) {
        &:hover {
            .number {
                transform: translateX(50%);
                opacity: 0.3;
                transition: transform .4s;
            }
        }
    }
}
.plain-text {
    margin: 40px 0 60px 0;
}

//podstrona Meble
.furniture {
    margin: 50px auto;

    & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        margin: 0;
    }

    .content {
        z-index: 9;
        position: relative;
        padding: 30px;
        width: 40%;
        text-align: left;
        color: $white;
        text-shadow: 0 0 5px $main-color;
    }

    h3 {
        width: auto;
        border-bottom: none;
        padding: 0;
        margin-top: auto;
        padding: 1px;
    }

    .blur {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        overflow: hidden;

        img {
            margin: 0;
            opacity: 1;
            filter: blur(2px);
            -webkit-filter: blur(5px);
            top:-5px;
            left:-5px;
            object-fit: cover;
            position: absolute;
        }
    }

    &:nth-child(even) {
        .content {
            margin: 0 0 0 auto;
            text-align: right;

            h3 {
                text-align: right;
                padding: 0;
            }
        }

        .blur {
            right: 0;
            left: auto;

            img {
                right: -5px;
                left: auto;
            }
        }
    }

    &:nth-of-type(1) {
        overflow: hidden;
    }
}


@keyframes arrowBump {
    0% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}


@media(min-width: 992px) {
    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    .menu {
        .burger {
            display: none;
        }

        .menu-lists {
            box-shadow: none;
            transform: none;
            width: 100%;
            top: 0;
            background: transparent;
            padding: 0;
            height: $bar-height;

            ul {
                padding: 0;
                margin: 0;
                display: inline-block;

                li {
                    display: inline-block;

                    a {
                        padding: 12px 10px 11px;
                    }

                    &::after {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, 160%);
                        width: 7px;
                        height: 7px;
                    }
                }
            }
        }
    }

    header {
        .center {
            border-radius: 500px 500px 0 0 ;
        }
    }
    .wrapper {
        max-width: 1100px;
        margin: 0 auto;
    }

    .column-3 {
        width: 33.33%;
        padding: 40px;
    }

    .column-2 {
        width: 50%;
        padding: 40px;
    }

    //podstrona
    .subpage {
        header {
            height: 70vh;
        }
    }

    .step {
        &:nth-child(even) {

            &:hover {
                .number {
                    transform: translateX(100%);
                    opacity: 0.6;
                }
            }
        }

        &:nth-child(odd) {
            &:hover {
                .number {
                    transform: translateX(-100%);
                    opacity: 0.6;
                }
            }
        }
    }
}
